<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="Login" value="C:\ExcelDB\GSTINEXCEL.xlsx" />
    <add key="CETSH" value="C:\ExcelDB\CETSH Data Directory Final_Saksham.xlsx" />
    <add key="InvoiceData" value="C:\ExcelDB\InvoiceData.xlsx" />
    <add key="AdvancePayment" value="C:\ExcelDB\AdvancePayment.xlsx" />
    <add key="Export" value="C:\ExcelDB\Export.xlsx" />
    <add key="AdvanceUploadInvoice" value="C:\ExcelDB\AdvanceUploadInvoice.xlsx" />
    <add key="ExportUploadInvoice" value="C:\ExcelDB\ExportUploadInvoice.xlsx" />
    <add key="UploadInvoice" value="C:\ExcelDB\UploadInvoice.xlsx" />
    <add key="AdvanceGSTR1" value="C:\ExcelDB\AdvanceGSTR1.xlsx" />
    <add key="B2BGSTR1" value="C:\ExcelDB\B2BGSTR1.xlsx" />
    <add key="ExportGSTR1" value="C:\ExcelDB\ExportGSTR1.xlsx" />
    <add key="Import" value="C:\ExcelDB\Import.xlsx" />
    <add key="ReverseCharge" value="C:\ExcelDB\ReverseCharge.xlsx" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5">
      <assemblies>
        <add assembly="System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>